

.blogPostSet{
	display: flex;
	flex-direction: column;
	align-items: center;
}



.blogPostSet_title{
	font-weight: 700;
	font-size: 30px;
	line-height: 16px;
	color: rgb(61, 61, 61);
	margin: 0  0 15px 0;
}

.blogPostSet_subtitle{
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0%;
	color: rgb(114, 114, 114);
	margin: 0  0 35px 0;
	text-align: center;

}


/* ---------------------------------------------------------- */
.blogPostSet_row {
	flex-wrap: wrap;
}


.blogPost_linkContainer{
	display: flex;
}

