.contentStyle{
	margin: 0;
	height: 450px;
	background:#F5F5F5;
};

.homeCarousel_row{
	flex-wrap: wrap;
}

.homeCarousel_card {
	width: 100%;
	min-width: 100%;
	height: 100%;
}

.homeCarousel_card_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding: 0px 0 0px 43px;
	height: 100%;
}

.homeCarousel_card_subtitle {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 10%;
	text-transform:uppercase;
	color: #3D3D3D;
	margin: 0 0 7px 0;
}

.homeCarousel_card_title {
	font-weight: 900;
	font-size: 70px;
	line-height: 70px;
	letter-spacing: 0;
	text-transform:uppercase;
	color: #3D3D3D;
	margin: 0 0 5px 0;
}
.homeCarousel_card_title span{
	color: #46A358;
}

.homeCarousel_card_text {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 24px;
	color: #727272;
	margin: 0 0 44px 0;
}


.homeCarousel_cardImg{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 450px;
}
.homeCarousel_cardImg1{
	background-image: url(/src/resources/img/HomeScreen/HomeScreenCarousel_1.png);
}
.homeCarousel_cardImg2{
	background-image: url(/src/resources/img/HomeScreen/HomeScreenCarousel_2.png);
}
.homeCarousel_cardImg3{
	background-image: url(/src/resources/img/HomeScreen/HomeScreenCarousel_3.png);
}


.homeCarousel_button{
	width: 149px;
	height: 40px;
	background-color: #46A358;
	color: #fff;
}	

.homeCarousel_arrow{
	display: none;
}

.homeCarousel_arrowContainer{
	display: flex;
}

.homeCarousel_shopArrow_textArrow{
	margin: 0 2px 0 0;
	color: #46A358;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0%;
}


@media (max-width: 1250px) {
	.homeCarousel_card_title {
		font-size: 60px;
		line-height: 60px;
	}
		
	.homeCarousel_card_text {
		font-size: 12px;
		line-height: 18px;
	}
}


@media (max-width: 1130px) {
	/* .homeCarousel_card_container {
		padding: 0px 0 0px 30px;
	} */

	.homeCarousel_card_subtitle {
		font-size: 12px;
		line-height: 12px;
		letter-spacing: 8%;
	}
	
	.homeCarousel_card_title {
		font-size: 45px;
		line-height: 50px;
		margin: 0 0 5px 0;
	}
		
	.homeCarousel_card_text {
		font-size: 12px;
		line-height: 18px;
	}
	
	
}



@media (max-width: 899px) {
	.contentStyle{
		border-radius: 10%;
	};

	.homeCarousel_card_container {
		padding: 0px 0px 0px 23px;
	}
			
	.homeCarousel_row{

		border-radius: 10%;
		background: linear-gradient(70deg, #46A35833, #46A3581A)
	}
	.homeCarousel_card_subtitle {
		font-size: 12px;
		line-height: 12px;
		letter-spacing: 8%;
	}
	.homeCarousel_card_title {
		font-size: 45px;
		line-height: 50px;
		margin: 0 0 5px 0;
	}
	.homeCarousel_card_text {
		height: 37px;
		overflow: hidden;
		font-size: 12px;
		line-height: 18px;
	}
	.homeCarousel_cardImg1{
		background-image: url(/src/resources/img/HomeScreen/HomeScreenCarousel_1Mob.png);
	}
	.homeCarousel_button{
		display: none;
	}	
	.homeCarousel_arrow{
		display:inline;
	}	
}