.appContentRouter{
	background: colorBgContainer;
	min-height: 280px;
	border-radius: borderRadiusLG;
}

.appContent{
	/* padding: 0 118px  */
}

/* sm = 900------------------------------------------------------------- */

@media (max-width: 899px) {
	.appContent{
		padding: 0 24px 
	}
	.appContentRouter{
		padding: 41px 0px;
	}
}




