/* Подключаем шрифты--------------------------------------------------------- */
@font-face {
	font-family: 'CeraPro';
	font-style: normal; 
  font-weight: 400;
  src: local('CeraPro'), url("../assets/CeraPro/CeraPro-Regular.woff") format("truetype");
}
@font-face {
	font-family: 'CeraPro';
  font-weight:900;
  src: local('CeraPro'), url("../assets/CeraPro/CeraPro-Black.woff") format("truetype");
}
@font-face {
	font-family: 'CeraPro';
  font-style: bold; 
  font-weight:700;
  src: local('CeraPro'), url("../assets/CeraPro/CeraPro-Bold.woff") format("truetype");
}
@font-face {
	font-family: 'CeraPro';
  font-style: lighter; 
  font-weight: 300;
  src: local('CeraPro'), url("../assets/CeraPro/CeraPro-Light.woff") format("truetype");
}
@font-face {
	font-family: 'CeraPro';
  font-weight: 100;
  src: local('CeraPro'), url("../assets/CeraPro/CeraPro-Thin.woff") format("truetype");
} 
@font-face {
	font-family: 'CeraPro';
  font-weight: 500;
  src: local('CeraPro'), url("../assets/CeraPro/CeraPro-Medium.woff") format("truetype");
}


@font-face {
	font-family: 'HangingLetters';	
  src: url("https://db.onlinewebfonts.com/t/1da2ac0ce2475f77ead14788891e054a.eot");
  src: url("https://db.onlinewebfonts.com/t/1da2ac0ce2475f77ead14788891e054a.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/1da2ac0ce2475f77ead14788891e054a.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/1da2ac0ce2475f77ead14788891e054a.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/1da2ac0ce2475f77ead14788891e054a.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/1da2ac0ce2475f77ead14788891e054a.svg#Hanging Letters")format("svg");
}



.wrapper{
  max-width: 1200px;
  /* overflow: hidden; */
	min-height: 100%;
  margin: 0 auto;
}

